
.sidee {
    background-color: #faf8ff;
    height: 90vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 35px;
  }
  
  
  .sidee ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .sidee li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 65px 12px 20px;
    margin-bottom: 23px;
    cursor: pointer;
    border-radius: 0px;
    color: #333;
    transition: all 0.3s ease;
    
  }
  
  .sidee li:hover,
  .sidee li.active {
    background-color: #dbd9f2;
    /* background-color: #5c899d; */
    color: #8d85e3;
    transform: scale(1.0);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
  }

.logo{
  color: #8d85e3;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 30px;
  margin-left: 15px;
  text-align: center;
  font-family: 'MyFont', sans-serif;

}